@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #f7f5eb;
  --main-color: #c1c1c1;
  --primary-color: #19a7ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #2d2d2d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  padding: 0 5%;
  scroll-behavior: smooth;
}

.img-card {
  background-color: var(--main-color);
}

.border-about {
  background-color: var(--foreground);
}
